/* formatação formularios */

.container-form {
	width: 80%;
	margin: 0 auto;
}

.form-contact {
    width: 100%;
    font-family: 'Comfortaa', sans-serif;
}

.form-contact-input {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 45px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
}

.form-contact-textarea {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 150px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
    font-family: 'Comfortaa', sans-serif;
}

.form-contact-button {
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    color: white;
    height: 40px;
    margin-bottom: 20px;
    cursor: pointer;
    background: #333;
    display: block;
    border: none;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    font-family: 'Comfortaa', sans-serif;
}

.form-contact-button:hover {
	background-color: #111;
}